#post-list{
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
}

.search-box{
    display: flex;
    align-items: center;
}

#searchbar{
    height: 30px;
    width: 350px;
    padding: 15px 5px;
}

table{
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td, tr{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.overflow-cell{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
}

.btn{
    border: none;
    border-radius: 5%;
    padding: 10px 15px;
    color: white;
}

.btn:hover{
    cursor: hand;
}

.btn-primary{
    background: #007BFF;
}

.btn-primary:hover{
    background: #2273c9;
}

.btn-secondary{
    background: #a8a8a8;
}

.btn-secondary:hover{
    background: #8c8b8b;   
}

.btn-warning{
    background: #FFC107;
    color: black;
    margin-left: 10px;
}

.btn-warning:hover{
    background: #deae1d;
}

.btn-danger{
    background: #DC3545;
    margin-left: 10px;
}

.btn-danger:hover{
    background: #c93b36;
}

#paging-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.btn-paging{
    border: 2px solid #2273c9;
    background: white;
    color: black;
    margin-left: 15px
}

.btn-success{
    background: #1cb87f;
    color: white;
    margin-left: 15px
}

.btn-success:hover{
    background: #26c98e;
}

.btn-currentpage, .btn-paging:hover{
    background: #6dc7f7;
}

#page-btn-container{
    width: 50%;
    text-align: center;
}

#create-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

#create-author{
    margin-left: 20px;
    padding: 8px 5px;
}

#create-submit-modal{
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 8%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

.result-modal{
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

#view-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

.post-container{
    height: 80%;
    overflow-y: auto;
    margin-top: 30px;
    padding: 0 15px;
    text-align: justify;
    word-wrap: normal;
}

.view-title-box{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#view-author{
    font-size: 15px;
    margin-top: 10px;
    font-style: italic;
}

.view-body-box{
    margin-top: 30px;
}

.post-container::-webkit-scrollbar{
    width: 5px;
}

.post-container::-webkit-scrollbar-thumb{
    background: rgb(237, 239, 243);
    height: 50px;
}

#update-modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

textarea{
    width: 100%;
    margin-top: 10px;
}

.title-textarea{
    height: 20%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    text-align: justify;
    overflow-y: auto;
}

.body-textarea{
    height: 40%;
    padding: 15px;
    text-align: justify;
    overflow-y: auto;
}

#title-textarea::-webkit-scrollbar{
    width: 10px;
}

#title-textarea::-webkit-scrollbar-thumb{
    background: rgb(237, 239, 243);
    height: 50px;
}

#body-textarea::-webkit-scrollbar{
    width: 10px;
}

#body-textarea::-webkit-scrollbar-thumb{
    background: rgb(237, 239, 243);
    height: 50px;
}

#update-submit-modal{
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 8%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}

#delete-modal{
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 7%;
    background: #fcfcfc;
    border: 2px solid black;
    border-radius: 2%;
    padding: 40px;
}
